<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:include="fragments :: head"></head>
<body>
<div id="wrapper">

	<!-- Main Navigation -->
	<nav th:replace="fragments :: navbar-static-side"></nav>
	
	<div id="page-wrapper" class="gray-bg">
		<!-- Minor Navigation -->
		<div th:replace="fragments :: navbar-static-top"></div>
		
		<!-- Title, Breadcrumb and Actions Navigation -->
		<div th:replace="fragments :: page-heading(~{::h2},~{::li})">
			<h2>Dashboard</h2>
			<li class="active"><strong>Console</strong></li>
		</div>
		
		<!-- Main Content -->
		<h1>Hello [[${#httpServletRequest.remoteUser}]]!</h1>
		
		<p th:text="${param.user}">user</p><br>
		Logged user: <span sec:authentication="name">Bob</span><br>
		Logged user: <span sec:authentication="principal.firstName">Bob</span><br>
		Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span><br>
		<div sec:authorize="hasAuthority('READ_PRIVILEGE')">This text is only visible to a user</div>
		<div sec:authorize="hasAuthority('WRITE_PRIVILEGE')"> This text is only visible to an admin</div>
		
		<!-- APP Footer -->
		<div th:replace="fragments :: footer"></div>
	</div>
</div>

<!-- Mainly scripts -->
<script src="js/jquery-2.1.1.js" th:src="@{/resources/js/jquery-2.1.1.js}"></script>
<script src="js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js" th:src="@{/resources/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js" th:src="@{/resources/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js" th:src="@{/resources/js/inspinia.js}"></script>
<script src="js/plugins/pace/pace.min.js" th:src="@{/resources/js/plugins/pace/pace.min.js}"></script>

</body>
</html>