<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- <head th:include="fragments :: head"></head> -->

<head th:replace="fragments/head :: common_header(~{::title},~{::link})">

  <title>[[#{users.page.title}]]</title>

  <!-- FooTable -->
  <link th:href="@{/resources/css/plugins/footable/footable.core.css}" rel="stylesheet">
  
  <!-- Sweet Alert -->
  <link th:href="@{/resources/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

</head>

<body>
<div id="wrapper">

	<!-- Main Navigation -->
	<nav th:replace="fragments :: navbar-static-side"></nav>
	
	<div id="page-wrapper" class="gray-bg">
		<!-- Minor Navigation -->
		<div th:replace="fragments :: navbar-static-top"></div>
		
		<!-- Title, Breadcrumb and Actions Navigation -->
		<div th:replace="fragments :: page-heading"></div>
		
		<!-- Main Content -->
		
		<div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>[[#{users.list.ibox.title}]]</h5>

                            <div class="ibox-tools">
<!--                                 <a class="collapse-link"> -->
<!--                                     <i class="fa fa-chevron-up"></i> -->
<!--                                 </a> -->
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <i class="fa fa-wrench"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-user">
                                    <li><a href="#">Config option 1</a>
                                    </li>
                                    <li><a href="#">Config option 2</a>
                                    </li>
                                </ul>
                                <a class="fullscreen-link">
                                <i class="fa fa-expand"></i>
                            </a>
                            </div>
                        </div>
                        <div class="ibox-content">

                            <table id="userList" class="footable table table-stripped toggle-arrow-tiny" data-page-size="10">
                                <thead>
                                <tr>

                                    <th data-toggle="true">[[#{users.list.table.username}]]</th>
                                    <th>[[#{users.list.table.email}]]</th>
                                    <th>[[#{users.list.table.phone}]]</th>
                                    <th>[[#{users.list.table.lastLogin}]]</th>
                                    <th>[[#{users.list.table.enabled}]]</th>
                                    <th data-hide="all">[[#{users.list.table.roles}]]</th>
                                    <th class="text-right">[[#{users.list.table.action}]]</th>
                                    
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="user : ${users}">
                                    <td th:text="${user.firstName + ' ' + user.lastName}">[user.firstName + user.lastName]</td>
                                    <td th:text="${user.email}">[user.email]</td>
                                    <td>[user.phone]</td>
                                    <td>[[${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}]]</td>
                                    <td>
                                    	<span th:text="${user.enabled}? 'ativada' : 'desativada'" th:class="${user.enabled}? 'label label-primary' : 'label label-danger'" class="label label-primary">[user.enabled]</span>
                                    </td>
                                    <td>[user.roles]</td>

                                    <td class="text-right">
                                        <div class="btn-group">
                                        	<a href="#" th:href="@{/users/}" class="btn-white btn btn-xs" role="button" th:text="#{users.list.button.view}">View</a>
                                            <a href="#" th:href="@{/users/edit/} + ${user.id}" class="btn-white btn btn-xs" role="button" th:text="#{users.list.button.edit}">Edit</a>
                                            <a href="#" th:onclick="'deleteUser(\'' + ${user.id} +'\',\''+ ${user.firstName + ' ' + user.lastName} + '\');'" class="btn-white btn btn-xs" role="button" th:text="#{users.list.button.delete}">Delete</a>
                                        </div>
                                    </td>
                                </tr>
                                
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
		
		<!-- APP Footer -->
		<div th:replace="fragments :: footer"></div>
	</div>
</div>
	
	<!--/* Placeholder for mainly scripts */-->
	<th:block th:include="fragments/scripts :: common_scripts" />

	<!-- FooTable -->
	<script src="js/plugins/footable/footable.all.min.js" th:src="@{/resources/js/plugins/footable/footable.all.min.js}"></script>
	
	<!-- Sweet alert -->
    <script src="js/plugins/sweetalert/sweetalert.min.js" th:src="@{/resources/js/plugins/sweetalert/sweetalert.min.js}"></script>

	<!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {
            $('.footable').footable();

        });
        
        function deleteUser(id,username) {
        	swal({
                title: "[[#{users.list.swal.title}]]",
                text: "[[#{users.list.swal.text}]]" + " " + username + "!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "[[#{users.list.swal.confirmButtonText}]]",
                cancelButtonText: "[[#{users.list.swal.cancelButtonText}]]", 
                closeOnConfirm: false
            }, function () {
            	$.ajax(
            		{
                    	type : "GET",
                    	url : "[[@{/users/delete/}]]" + id,
                    	success : function(response) {
                    	}
            		}
            	)
            	.done(function(response) {
            		swal("[[#{users.list.swal.done.title}]]", "[[#{users.list.swal.done.text}]]", "success");
            		$('#userList').load(document.URL +  ' #userList');
            	})
            	.error(function(response) {
            		swal("Oops", "[[#{users.list.swal.error.text}]]", "error");
            	}); 
            });
        }
        	
    </script>

</body>
</html>